<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
  <head>
    <script src=""></script>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="table-container">
     <form
     id="newCat"
     method="POST"
     action="/">
	{% csrf_token %}
     </form>

      <form
     id="update"
	 method="POST"
	 action="/">
	{% csrf_token %}
	<table class="image-table">
	  <tr class="nav-bar" style="background-img:url('{% static 'magnet-banner.png' %}');">
	    <td class="img-col-header">
	      <p>Image</p>
	    </td>
	    {% for cat in categories %}
	    <td class="col-header">
	      <p>{{ cat.name }}</p>
	    </td>
	    {% endfor %}
	    <td>
	     <input
	     id="submit-btn"
	     class="btn-style"
         form = "update"
		 type="submit">
	    </td>
        <input
          form="newCat"
          type="hidden"
          name="action"
          value="new_cat">
        <td>
            <input form="newCat" type="submit" value="Add new category" class="btn-style">
            <input form="newCat" type="text" name ="name" class="btn-style">
        </td>
	  </tr>
	  {% for img in images %}
	  <tr class="table-content">
	    <td>
	      <img
		 class="image-source"
		 src="{% static 'img/'|add:img.filename %}">
	    </td>
		<input
           form="update"
		   type="hidden"
		   name="action"
		   value="update">
	    {% for cat in categories %}
	    <td>
	      <input
         form="update"
		 type="radio"
		 name="category_{{ img.filename }}"
		 class="category-radio-btn"
		 value="{{ cat.name }}"
		 {% if img.category.name == cat.name %}
		 checked
		 {% endif %}>
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
    </div>
  </body>
</html>
